@page "/create-wallet"
@inject HttpClient httpClient
@inject NavigationManager navManager
@layout UserLayout

<h3>Create Wallet</h3>
<br />
<br />
<MudText>New Wallet: </MudText>
<MudSelect T="string" Items="@stringWalletTypes" For="@(()=>walletType)" ValueChanged="((string type) => SelectType(type))">
    @foreach(string s in stringWalletTypes)
    {
        <MudSelectItem T="string" Value="@s">@s</MudSelectItem>
    }
</MudSelect>

<MudTextField T="decimal" @bind-Value="wallet.Amount" Label="Amount" />
<MudTextField T="string" @bind-Value="wallet.CurrencyCode" Label="Currency code"/>

<MudButton Variant=Variant.Outlined Color=Color.Primary OnClick="AddWallet">Add</MudButton>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <MudAlert>@errorMessage</MudAlert>
}

@code {
    private CreateWalletDTO wallet = new();
    private List<WalletCommisionDto> walletTypes = new();
    private List<string> stringWalletTypes = new();
    private string errorMessage;
    public string walletType;

    protected override async void OnInitialized()
    {
        await GetWalletTypes();
        base.OnInitialized();
    }

    public async Task GetWalletTypes()
    {
        walletTypes = await httpClient.GetFromJsonAsync<List<WalletCommisionDto>>("api/wallet/getWalletTypes");
        foreach(var t in walletTypes)
        {
            stringWalletTypes.Add(Enum.GetName(t.Type));
        }
        StateHasChanged();
    }

    public void SelectType(string type)
    {
        wallet.Type = type;
    }

    public async Task AddWallet()
    {
        if (string.IsNullOrEmpty(wallet.Type))
            errorMessage = "Wallet Type has to be populated.";
        else if (wallet.Amount <= 0)
            errorMessage = "Wallet Amount has to be populated with a value greater than zero.";
        else
        {
            var result = await this.httpClient.PostAsJsonAsync("api/wallet", wallet);

            if (!result.IsSuccessStatusCode)
            {
                errorMessage = "An error occured on server side. Please contact the administrator.";
            }
        }

        navManager.NavigateTo("/wallets");
    }
}