@page "/wallets"
@inject HttpClient httpClient
@inject NavigationManager navManager;
@layout UserLayout

<h3>Wallets</h3>
<br />
<br />

<AuthorizeView>
    <Authorized>
        <MudButton Variant=Variant.Outlined Color=Color.Primary OnClick="RedirectToCreateWallet">Create Wallet</MudButton>
        <MudButton Variant=Variant.Outlined Color=Color.Primary OnClick="CreateTransaction">New transaction</MudButton>
    </Authorized>
</AuthorizeView>

@if(wallets == null || !wallets.Any())
{
    <h5>No wallets to be displayed yet...</h5>
}
else
{
    <MudTable Items="@wallets">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Create Date</MudTh>
            <MudTh>Type</MudTh>
                <MudTh>Amount</MudTh>
                <MudTh>Pincode</MudTh>
            <MudTh>Currency Code</MudTh>
            <MudTh>Change Rate</MudTh>
            <MudTh>Name</MudTh>
            <MudTh>Wallet Code</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.WalletId</MudTd>
            <MudTd>@context.TimeStamp</MudTd>
            <MudTd>@context.Type</MudTd>
            <MudTd>@context.Amount</MudTd>
            <MudTd>@context.Pincode</MudTd>
            <MudTd>@context.CurrencyCode</MudTd>
            <MudTd>@context.ChangeRate</MudTd>
            <MudTd>@context.CurrencyName</MudTd>
            <MudTd>@context.Code</MudTd>
        </RowTemplate>
    </MudTable>
}

@code {
    private List<GetWalletDTO> wallets;

    protected override async Task OnInitializedAsync()
    {
        await GetWalletsWithCurrencies();
        StateHasChanged();

        await base.OnInitializedAsync();
    }

    public async Task GetWalletsWithCurrencies()
    {
        wallets = await this.httpClient.GetFromJsonAsync<List<GetWalletDTO>>("api/wallet/getwallets");        
    }

    public void RedirectToCreateWallet()
    {
        navManager.NavigateTo("/create-wallet");
    }
    public void CreateTransaction()
    {
        navManager.NavigateTo("/create-transaction");
    }
}