@page "/transactions"

@inject HttpClient httpClient;

<h3>Transactions</h3>

@if(transactions != null)
{
    <MudTable Items="@transactions">
        <HeaderContent>
            <MudTh>Amount</MudTh>
            <MudTh>ChangeRate</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>Date</MudTh>
            <MudTh>Id of sender</MudTh>
            <MudTh>Id of accepter</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Amount</MudTd>
            <MudTd>@context.ChangeRate</MudTd>
            <MudTd>@context.Description</MudTd>
            <MudTd>@context.Date</MudTd>
            <MudTd>@context.IdOfSender</MudTd>
            <MudTd>@context.IdOfAccepter</MudTd>
        </RowTemplate>
    </MudTable>
}
else
{
    <MudText>There is no transactions</MudText>
}

@code {
    public List<GetTransactionDTO> transactions;

    protected override async Task OnInitializedAsync()
    {
        await GetTransactions();

        StateHasChanged();
        await base.OnInitializedAsync();
    }

    public async Task GetTransactions()
    {
        transactions = await httpClient.GetFromJsonAsync<List<GetTransactionDTO>>("api/wallet/gettransactions");
    }
}
